<section id="tasks">
  <header>
    <h2>{{ name }}'s Tasks</h2>
    <menu>
      <button (click)="onStartAddTask()">Add Task</button>
    </menu>
  </header>
  @if(isAddingTask){
  <app-new-task [userId]="userId" (close)="onCloseAddTasks()"></app-new-task>
  }
  <ul>
    @if(selectedUserTasks.length){ @for(task of selectedUserTasks;track
    task.id){
    <li>
      <app-task [task]="task" />
    </li>
    } }@else{
    <p>This User Don't Have Any Tasks For The Moment</p>
    }
  </ul>
</section>
